@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;

}

.particle {
  position: absolute;
  border-radius: 50%;
  background: rgba(34, 197, 94, 1);

  filter:
    drop-shadow(0 0 6px rgba(34,197,94,0.9))
    drop-shadow(0 0 16px rgba(34,197,94,0.7));

  animation-name: particleFloat, particleFade;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
}

@keyframes particleFloat {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--dx), var(--dy));
  }
}

@keyframes particleFade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
  border-radius: 100%;
}

.fullscreen-video {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .fullscreen-video {
    object-fit: contain;
    background-color: #000;
  }
}